<!doctype html>
<meta charset="utf-8">
<html lang="it">
    <head>
        <title>ATCS - Home Page</title>
        <script th:src="@{/js/lib/d3.js}"></script>
        <script th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="playback">Playback</a>
            <a href="visitedroombygroup">Museum Statistics</a>
            <a href="assignment">Assignment</a>
        </div>
        
        
        <div class="main">
            <div class="svg-container">
                <h1>Home Page</h1>
                <p>
                    In these pages you can see the carrying out of the <a href="assignment">pratical assignment</a>.
                    <br>
                    In particular there is the following pages:
                </p>
                <ul>
                    <li><strong>Play Back</strong> - the visual playback of a group (o individual) visit.</li>
                    <li><strong>Museum Statistics</strong> - statistics about the museum visit.</li>
                    <li><strong>Task</strong> - the full text of the assignment.</li>
                </ul>
                <br>
                <p>
                    <strong>Attention!</strong> The database that we chose to use is very slow, please be patient (approximately 35-40 seconds of loading).
                </p>
                
            </div>
        </div>
    </body>
</html>

