<!doctype html>
<meta charset="utf-8">
<html lang="it">
    <head>
        <title>ATCS - Home Page</title>
        <script th:src="@{/js/lib/d3.js}"></script>
        <script th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="playback">Play Back</a>
            <a href="">Museum Statistics</a>
            <a href="">Assignment</a>
        </div>
        
        
        <div class="main">
            <div class="svg-container">
                <h1>Home Page</h1>
                <p>
                    In these pages you can see the carrying out of the <a href="">pratical assignment</a>.
                    <br>
                    In particular there is the following pages:
                </p>
                <dl>
                    <dt>Play Back</dt> <dd>- the visual playback of a group (o individual) visit.</dd>
                    <dt>Museum Statistics</dt> <dd>- statistics about the museum visit.</dd>
                    <dt>Task</dt> <dd>- the full text of the assignment.</dd>
                </dl>
                
            </div>
        </div>
    </body>
</html>

