<!doctype html>
<meta charset="utf-8">
<html lang="it">
    <head>
        <title>ATCS</title>
        <script src="lib/d3.js"></script>
        <script src="lib/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="">News</a>
            <a href="">Contatti</a>
            <a href="">Info</a>
        </div>
        <button id="replay">Click me</button>
        <div class="main"></div>
        </div>
        <script src="js/playback.js"></script>
    </body>
</html>

