<!doctype html>
<meta charset="utf-8">
<html lang="it">

<head>
    <title>ATCS - Playback</title>
    <script th:src="@{/js/lib/d3.js}"></script>
    <script th:src="@{/js/lib/jquery-3.6.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="
        @{/css/style.css}">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="playback">Playback</a>
        <a href="visitedroombygroup">Museum Statistics</a>
        <a href="assignment">Assignment</a>
    </div>


    <div class="main">
        <br>
        <form action="playback">
            <input type="submit" value="Go Back">
        </form>

        <br>

        <h1>Playback</h1>
        <p>Here you can see an animated playack of the visitor that you have chosen in the previous page.</p>
        <p>You can change the speed of the animation and hovering over the points with the mouse you can see it into the legend.</p>

        <br>
        <p>
            <strong>Attention!</strong> The database that we chose to use is very slow, please be patient (approximately 35-40 seconds of loading).
        </p>

        <br><br>
        <span>Replay speed:</span>
        <input type="range" min="25" max="200" step=25 value="100" class="slider" id="myRange" onchange="listen()">
        <span id="speed">1x</span>

        <br><br>

        <button id="replay" disabled>Play again</button>

        <div class="svg-container">
            <div class="loader"></div>
        </div>

    </div>
    <script th:src="@{/js/src/playback.js}"></script>


</body>

</html>